.top{
	margin-left: 150px;
	margin-bottom: 50px;
	margin-top: 100px;
}

.middle-left{
	margin-left: 100px;
	float: left;
}

.middle-mid{
	margin-left: 100px;
	margin-right: 100px;
	margin-top: 150px;
	cursor: pointer;
	float: left;
}

.middle-right{
	float: right;
}
textarea{
	border-color: #ff8000;
}